{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Catalogue</h2>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label for="Heading">Enter Heading</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter the heading" id="headingg" name="headingg">   

        
        <label for="Note">Note</label>
        <input class="form-control form-control-lg" type="text" placeholder="Description" id="note" name="note">
        
        
        <label for="picLink">Picture Link</label>
        <input class="form-control form-control-lg" type="text" placeholder="URL" id="picLink" name="picLink">
        
        
        <label for="Price">Price</label>
        <input class="form-control form-control-lg" type="number" min="0" placeholder="Price" id="price" name="price">   

        <label for="category">Choose a category</label>
        <select name="category" id="category">
            {% for cat in categories %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-dark">Create new Catalogue</button>
    </form>
{% endblock %}