{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>EDIT PAGE</h1>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label>TITLE:</label>
        <input type="text" name="title" placeholder="Enter a title" value="{{ title }}"><br>
        <label>MARKDOWN CONTENT:</label><br>
        <textarea name="content" id="" >{{ content }}</textarea>
        <br> 
        <input type="submit" value="EDIT">
    </form>
    
{% endblock %}